/*
.slider {
    width: 40%;
    background: #000000;
    padding: 20px;
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    bottom: -27px;
    left: -20%;
    margin-top: -97.5px;
    margin-left: -341.5px;
    transition: all 0.5s ease-in;
}
.slider.show {
    left: 27%;
    border-style: ridge;
    border-color: rgba(250, 250, 250, 0.8);
    border-radius: 7px;
    padding-bottom: 40px;
}*/
div#cropslide{    
    width: 40%;
    background: #000000;
    padding: 0 20px 20px;
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    bottom: -27px;
    left: -20%;
    margin-top: -97.5px;
    margin-left: -341.5px;
    transition: all 0.5s ease-in;
}
div#cropslide.show{
    left: 27%;
    padding-bottom: 10px;
}
.slider-caption.show {
    position: absolute;
    left: 245px;
    bottom: 129px;
    transform: rotateZ(0deg);
}
.slider-caption {
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease-in;
    bottom: 70px;
    left: -40px;
    margin: 0;
    z-index: 999;
}
#crop-slider:before {
    content: 'Crops of the Month';
    text-align: center;
    width: 100%;
    display: block;
    margin: 10px 0;
    color: transparent;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #ffffff;
}